
@{
    ViewData["Title"] = "AccessDenied";
}

<h1>AccessDenied</h1>
<div class="container">
    <div class="h3">you are not authorized to view this page.</div>
    <div><a asp-controller="Home" asp-action="Logout">Logout</a></div>
</div>

